.NavigationItems {
  padding: 10px 0px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}
@media (min-width: 500px) {
  .NavigationItems {
    padding: 0;
    flex-flow: row;
  }
}
